body {
    margin: 0;
    padding: 0;
    background-color: #202124;
   
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size:16px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    flex-grow: 0; 
    
}

.dots {
    font-size: 24px;
    height: 18px;
    color: white;
}

.avatar {
    border-radius:24px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    
}

.icons-menu {
    padding-right: 20px;
}

.links-menu {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 4;

}

.search {
    border: 1px solid #ccc;
    border-radius:30px;
    padding: 8px;
    padding-left:20px ;
    padding-right: 20px;
    display: flex;
    margin-top: 15px;

    
}

.search-text {
    background-color: #202124 ;
    border: none;
    border-color: none; 
    padding-left:10px;
    padding-right: 280px;
    margin-left: 10px;
    margin-right: 10px;
    appearance: none;
    color: white;
    outline: 0;
}



.icons-body{
    height: 20px;
}

.button {
    margin-top: 25px;
}

.itens-button {
    padding: 7px;
    margin-left: 5px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #464647;
}

.itens-text {
    display: block;
    margin-top: 20px;
    color: #ccc;
}

.itens-text a {
    text-decoration: none;
    color: #3f3fee
}



.footer {
    display: flex;
    flex-direction: column;
    color: #ccc;
    background-color: #171717;
    

} 

.brasil  {
    display: block;
    margin-left: 10px;
    padding: 14px;
    font-size: 14px;
}

.config {
    border-top: 1px solid rgba(173, 172, 172, 0.678);
    display: flex;
    justify-content: space-between;
    padding: 14px;
}



.config a {
    text-decoration: none;
    color: #ccc;
    font-size:14px


}

.item-footer {
    padding-left: 12px;

}


